.modalOverlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.container {
    position: absolute;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputField {
    background-color: bisque;
    border: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 300px;
    padding: 10px 20px
}

.inputField:focus-visible {
    outline: none;
}

.inputField::placeholder {
    color: black;
}