.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: bisque;
    overflow-x: hidden;
}

.header {
    min-height: 40px;
    background-color: var(--violet600);
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    padding-left: 25px;
    margin-bottom: 6px;
}

.messageHistory {
    height: 100vh;
    overflow-y: auto;
    display: block;
    overflow-x: hidden;
    list-style-type: none;
    padding-inline-start: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.messageHistory::-webkit-scrollbar {
    width: 10px;
}

.messageHistory::-webkit-scrollbar-track {
    background: bisque;
}

.messageHistory::-webkit-scrollbar-thumb {
    background-color: var(--violet700);
    border-radius: 5px;
}

.messageHistory::-webkit-scrollbar-thumb:hover {
    background-color: var(--violet700);
}

.messageItem {
    box-sizing: border-box;
    width: 100vw;
}

.pannel {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 6px 0px 20px 0px;
}

.inputContainer {
    margin: 0 0 0 63px;
}

.scrollButton {
    border: 1px solid white;
    border-radius: 5px;
    background-color: var(--violet700);
    color: white;
    font-size: 16px;
    padding: 10px;
    user-select: none;
    display: flex;
    margin: 0 20px 0 5px;
}

.scrollButton:hover {
    cursor: pointer;
}

.unvisible {
    visibility: hidden;
}