.container {
    height: 100vh;
    max-width: 350px;
    background-color: var(--violet700);
    transition: max-width 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.isHidden {
    max-width: 0px;
}

.options {
    height: 100vh;
    list-style-type: none;
    padding-inline-start: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

.navBarItem:first-child {
    border-top: 1px solid var(--violet600);
}

.label {
    display:flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    min-height: 40px;
    margin: 0 20px 5px 20px;
    width: 310px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.findChatContainer {
    margin: 8px 20px 20px 20px;
}

.hideButtonContainer {
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 20px;
    z-index: 1;
    flex-direction: column;
    margin-left: 58px;
}

.hideButton {
    border: 1px solid white;
    border-radius: 5px;
    background-color: var(--violet700);
    color: white;
    font-size: 16px;
    padding: 10px;
    user-select: none;
    display: flex;
}

.hideButton:hover {
    cursor: pointer;
}

.options::-webkit-scrollbar {
    width: 10px;
}

.options::-webkit-scrollbar-track {
    background: var(--violet700);
}

.options::-webkit-scrollbar-thumb {
    background-color: var(--violet900);
    border-radius: 5px;
}

.options::-webkit-scrollbar-thumb:hover {
    background-color: var(--violet900);
}

body {
    overflow-y: hidden;
}