.container {
    height: 100vh;
    max-width: 350px;
    background-color: var(--violet700);
    transition: max-width 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    overflow: visible;
}

.isHidden {
    max-width: 0px;
}

.options {
    height: 100vh;
    width: 350px;
}

.addButtonContainer {
    margin: 20px;
}

.hideButtonContainer {
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 20px;
    z-index: 1;
    flex-direction: column;
    margin-left: 60px;
}

.hideButton {
    border: 1px solid white;
    border-radius: 7px;
    background-color: var(--violet700);
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.hideButton:hover {
    cursor: pointer;
}