.container {
    height: 100vh;
    max-width: 300px;
    background-color: blueviolet;
    transition: max-width 0.5s ease-in-out;
    display: flex;
    overflow: visible;
}

.isHidden {
    max-width: 0px;
}

.options {
    height: 100vh;
}

.hideButtonContainer {
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 20px;
    width: 300px;
    z-index: 1
}

.hideButton {
    border: 1px solid white;
    border-radius: 7px;
    background-color: blueviolet;
    font-size: 18px;
    color: white;
    width: 100px;
    padding: 10px;
}