:root {
    --neutral-grey100: #FDFDFD;
    --neutral-grey200: #F5F5F5;
    --neutral-grey300: #F1F1F1;
    --neutral-grey400: #ECECED;
    --neutral-grey500: #E6E6E6;
    --neutral-grey600: #DCDCDE;
    --neutral-grey700: #C9C9CC;
    --neutral-grey800: #ADACB0;
    --neutral-grey900: #7F7D83;
    --neutral-grey1000: #4F4D55;
    --neutral-grey1100: #2D2B32;
    --neutral-grey1200: #1D1C20;
    --neutral-grey1300: #0A090B;
    --cool-grey100: #FAFBFC;
    --cool-grey200: #EFF0F2;
    --cool-grey300: #DCDEE3;
    --cool-grey400: #C7CAD1;
    --cool-grey500: #AEB2BC;
    --cool-grey600: #9499A5;
    --cool-grey700: #7F8493;
    --cool-grey800: #6B7180;
    --cool-grey900: #595E6A;
    --cool-grey1000: #474B55;
    --cool-grey1100: #363840;
    --cool-grey1200: #24262B;
    --cool-grey1300: #121315;
    --flat-grey100: #FCFCFC;
    --flat-grey200: #F5F5F5;
    --flat-grey300: #EFEFEF;
    --flat-grey400: #E1E1E1;
    --flat-grey500: #CCCCCC;
    --flat-grey600: #B3B3B3;
    --flat-grey700: #9E9E9E;
    --flat-grey800: #959595;
    --flat-grey900: #656565;
    --flat-grey1000: #383838;
    --flat-grey1100: #1D1D1D;
    --flat-grey1200: #101010;
    --flat-grey1300: #040404;
    --bright-grey100: #FDFDFD;
    --bright-grey200: #F9F9F9;
    --bright-grey300: #EFEFEE;
    --bright-grey400: #DBDBD9;
    --bright-grey500: #C2C2BF;
    --bright-grey600: #A5A5A0;
    --bright-grey700: #87877F;
    --bright-grey800: #696960;
    --bright-grey900: #4D4D42;
    --bright-grey1000: #353528;
    --bright-grey1100: #28281B;
    --bright-grey1200: #191910;
    --bright-grey1300: #13130C;

    --neutral-grey-alpha100: rgba(56, 56, 56, 0.01);
    --neutral-grey-alpha200: rgba(56, 56, 56, 0.03);
    --neutral-grey-alpha300: rgba(22, 22, 22, 0.06);
    --neutral-grey-alpha400: rgba(17, 17, 28, 0.08);
    --neutral-grey-alpha500: rgba(5, 5, 5, 0.1);
    --neutral-grey-alpha600: rgba(5, 5, 20, 0.14);
    --neutral-grey-alpha700: rgba(15, 11, 18, 0.17);
    --neutral-grey-alpha800: rgba(7, 3, 17, 0.33);
    --neutral-grey-alpha900: rgba(6, 0, 11, 0.48);
    --neutral-grey-alpha1000: rgba(4, 0, 11, 0.68);
    --neutral-grey-alpha1100: rgba(5, 3, 11, 0.83);
    --neutral-grey-alpha1200: rgba(3, 2, 6, 0.89);
    --neutral-grey-alpha1300: rgba(3, 2, 4, 0.97);
    --cool-grey-alpha100: rgba(5, 56, 107, 0.02);
    --cool-grey-alpha200: rgba(26, 41, 70, 0.07);
    --cool-grey-alpha300: rgba(2, 15, 54, 0.08);
    --cool-grey-alpha400: rgba(4, 16, 48, 0.17);
    --cool-grey-alpha500: rgba(7, 19, 49, 0.28);
    --cool-grey-alpha600: rgba(6, 17, 45, 0.39);
    --cool-grey-alpha700: rgba(1, 10, 40, 0.47);
    --cool-grey-alpha800: rgba(3, 13, 38, 0.56);
    --cool-grey-alpha900: rgba(1, 8, 26, 0.63);
    --cool-grey-alpha1000: rgba(2, 8, 21, 0.71);
    --cool-grey-alpha1100: rgba(2, 4, 14, 0.78);
    --cool-grey-alpha1200: rgba(0, 2, 8, 0.85);
    --cool-grey-alpha1300: rgba(1, 2, 4, 0.93);
    --flat-grey-alpha100: rgba(104, 104, 104, 0.02);
    --flat-grey-alpha200: rgba(5, 5, 5, 0.04);
    --flat-grey-alpha300: rgba(25, 25, 25, 0.07);
    --flat-grey-alpha400: rgba(64, 52, 29, 0.08);
    --flat-grey-alpha500: rgba(20, 15, 4, 0.16);
    --flat-grey-alpha600: rgba(17, 14, 9, 0.27);
    --flat-grey-alpha700: rgba(8, 6, 2, 0.35);
    --flat-grey-alpha800: rgba(8, 7, 4, 0.39);
    --flat-grey-alpha900: rgba(5, 4, 3, 0.59);
    --flat-grey-alpha1000: rgba(1, 1, 0, 0.77);
    --flat-grey-alpha1100: rgba(3, 3, 3, 0.89);
    --flat-grey-alpha1200: rgba(2, 2, 2, 0.94);
    --flat-grey-alpha1300: rgba(2, 2, 2, 0.99);
    --bright-grey-alpha100: rgba(56, 56, 56, 0.01);
    --bright-grey-alpha200: rgba(56, 56, 56, 0.03);
    --bright-grey-alpha300: rgba(27, 27, 12, 0.07);
    --bright-grey-alpha400: rgba(57, 49, 15, 0.11);
    --bright-grey-alpha500: rgba(21, 21, 9, 0.26);
    --bright-grey-alpha600: rgba(21, 19, 1, 0.34);
    --bright-grey-alpha700: rgba(22, 21, 2, 0.48);
    --bright-grey-alpha800: rgba(19, 19, 3, 0.61);
    --bright-grey-alpha900: rgba(17, 17, 1, 0.73);
    --bright-grey-alpha1000: rgba(18, 17, 2, 0.84);
    --bright-grey-alpha1100: rgba(15, 15, 0, 0.89);
    --bright-grey-alpha1200: rgba(11, 11, 2, 0.94);
    --bright-grey-alpha1300: rgba(10, 10, 2, 0.96);
    
    --blue100: #FDFDFF;
    --blue200: #F5F8FD;
    --blue300: #EBF0FB;
    --blue400: #D6E0F7;
    --blue500: #B8CAF2;
    --blue600: #94B0EC;
    --blue700: #6C92E4;
    --blue800: #4272DD;
    --blue900: #1751D0;
    --blue1000: #113B98;
    --blue1100: #0C296A;
    --blue1200: #081B45;
    --blue1300: #051029;
    --indigo100: #F3FAFF;
    --indigo200: #DEF1FF;
    --indigo300: #BEE4FF;
    --indigo400: #98D4FF;
    --indigo500: #74C4FF;
    --indigo600: #48AFFA;
    --indigo700: #0A8FEF;
    --indigo800: #0279CF;
    --indigo900: #0063AA;
    --indigo1000: #00538E;
    --indigo1100: #003D69;
    --indigo1200: #04385C;
    --indigo1300: #022035;
    --teal100: #F3FAFC;
    --teal200: #DFF1F7;
    --teal300: #B8DEE9;
    --teal400: #93CBDC;
    --teal500: #6CB6CD;
    --teal600: #45A2BE;
    --teal700: #0692BC;
    --teal800: #007092;
    --teal900: #005D7A;
    --teal1000: #004B61;
    --teal1100: #003849;
    --teal1200: #002531;
    --teal1300: #000C10;
    --pool-blue100: #F1FAF9;
    --pool-blue200: #E9F7F5;
    --pool-blue300: #D2EEEB;
    --pool-blue400: #BCE6E1;
    --pool-blue500: #A6DED8;
    --pool-blue600: #8FD5CE;
    --pool-blue700: #79CDC4;
    --pool-blue800: #66BAB0;
    --pool-blue900: #559B93;
    --pool-blue1000: #447C76;
    --pool-blue1100: #335D58;
    --pool-blue1200: #223E3B;
    --pool-blue1300: #051311;
    --green100: #EBFBF1;
    --green200: #E1FAEA;
    --green300: #C1F4D4;
    --green400: #91DDAD;
    --green500: #63C888;
    --green600: #3BBA6A;
    --green700: #14AD4D;
    --green800: #019939;
    --green900: #018030;
    --green1000: #016626;
    --green1100: #004D1D;
    --green1200: #102A19;
    --green1300: #001A0A;
    --forest100: #F5FBF1;
    --forest200: #E9F3E3;
    --forest300: #D3E7C8;
    --forest400: #BDDBAC;
    --forest500: #A7CE91;
    --forest600: #91C275;
    --forest700: #7BB65A;
    --forest800: #67A346;
    --forest900: #56883B;
    --forest1000: #456C2F;
    --forest1100: #345123;
    --forest1200: #223617;
    --forest1300: #111B0C;
    --squash100: #FFF6E7;
    --squash200: #FFF1DA;
    --squash300: #FFE9BA;
    --squash400: #FFD58F;
    --squash500: #FFC76A;
    --squash600: #FFB945;
    --squash700: #FFAB1F;
    --squash800: #EC980C;
    --squash900: #C47E0A;
    --squash1000: #9D6508;
    --squash1100: #764C06;
    --squash1200: #4F3304;
    --squash1300: #271902;
    --orange100: #FFF2ED;
    --orange200: #FFEBE2;
    --orange300: #FFD3C1;
    --orange400: #FFBA9F;
    --orange500: #FFA07C;
    --orange600: #FF8659;
    --orange700: #FF6B34;
    --orange800: #F25219;
    --orange900: #C44518;
    --orange1000: #9D3713;
    --orange1100: #762A0E;
    --orange1200: #4F1C0A;
    --orange1300: #270E05;
    --red100: #FEEBEB;
    --red200: #FFE3E3;
    --red300: #FFC9C9;
    --red400: #FAA4A4;
    --red500: #FF7F7F;
    --red600: #F75656;
    --red700: #F53535;
    --red800: #E12121;
    --red900: #BC1C1C;
    --red1000: #961616;
    --red1100: #711111;
    --red1200: #4B0B0B;
    --red1300: #260606;
    --maroon100: #FAE9EF;
    --maroon200: #F7DDE6;
    --maroon300: #EFBCCD;
    --maroon400: #E79AB4;
    --maroon500: #E0789B;
    --maroon600: #D85681;
    --maroon700: #D03568;
    --maroon800: #BC2155;
    --maroon900: #9D1C47;
    --maroon1000: #7E1639;
    --maroon1100: #5E112B;
    --maroon1200: #3F0B1C;
    --maroon1300: #1F060E;
    --magenta100: #F9E9F3;
    --magenta200: #F5DDED;
    --magenta300: #EBBBDB;
    --magenta400: #E199C9;
    --magenta500: #D777B8;
    --magenta600: #CD55A6;
    --magenta700: #C33394;
    --magenta800: #B01F80;
    --magenta900: #921A6B;
    --magenta1000: #751556;
    --magenta1100: #581040;
    --magenta1200: #3B0A2B;
    --magenta1300: #1D0515;
    --purple100: #FEF2FF;
    --purple200: #F0DFF4;
    --purple300: #E2BFE9;
    --purple400: #D39EDE;
    --purple500: #C47ED3;
    --purple600: #B65EC8;
    --purple700: #A73EBC;
    --purple800: #942BA9;
    --purple900: #7B238D;
    --purple1000: #631C71;
    --purple1100: #4A1555;
    --purple1200: #310E38;
    --purple1300: #19071C;
    --violet100: #F1E9FB;
    --violet200: #EADEF9;
    --violet300: #D5BCF3;
    --violet400: #C09BED;
    --violet500: #AB79E8;
    --violet600: #9658E2;
    --violet700: #8136DC;
    --violet800: #6E23C9;
    --violet900: #5C1DA7;
    --violet1000: #491786;
    --violet1100: #371264;
    --violet1200: #250C43;
    --violet1300: #120621;
    --ultramarine100: #F1ECFF;
    --ultramarine200: #E6DFFF;
    --ultramarine300: #CABCFF;
    --ultramarine400: #A994F9;
    --ultramarine500: #876AF2;
    --ultramarine600: #633FE8;
    --ultramarine700: #4318E3;
    --ultramarine800: #3005D0;
    --ultramarine900: #2804AD;
    --ultramarine1000: #20038B;
    --ultramarine1100: #180268;
    --ultramarine1200: #100245;
    --ultramarine1300: #080123;
}